:root {
	--main-bg-color: #F9EFDB;
	--test: #C4CCCC;
}

html {
	background-color: var(--main-bg-color) !important;
}

body {
	background-color: var(--main-bg-color) !important;
}

#topBar {
	display: grid;
	background-color: --main-bg-color;
	grid-template-columns: auto auto auto;
	margin: 1rem 0;
	padding: 0 1.5rem;
}

#home {
	font-family: tempus-sans-itc;
}

#home {
	text-decoration: none;
	color: black;
}

a {
	text-decoration: none !important;
}

#cartIcon {
	font-size: 40px;
}

.upload-display-img{
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	-webkit-user-drag: none!important;
}

a{
	-webkit-user-drag: none!important;
}

body .ui-inputfield {
	padding: .375rem .75rem;
	width: 100%;
}
body .ui-inputfield.ui-state-focus{
	
}

.ui-messages-error-icon{
	display: none!important;
}

.admin-product-panel{
	width: 200px;
	display: inline-block;
	margin: 10px;
	
}

.ui-message-error-icon{
	display: none!important;
}
.ui-message.ui-message-error, body .ui-message.ui-message-fatal{
	padding:0;
	background: none!important;
	border: none!important;
	display: block;
	text-align: center;
}

.ui-fileupload-filename{
	display: none!important;
}

.auto-margins {
	margin-top: 1rem!important;
	margin-left: auto!important;
	margin-right: auto!important;
}
input[type="file"] {
    padding: .25rem .25rem !important;
}

.form-control{
	padding: 0!important;
}

.ui-fileupload-content .ui-progressbar {
        display: none;
}

.bottom-img{
	display: none;
}
.hide-on-hover:hover .top-img {
	display: none;
}
.hide-on-hover:hover .bottom-img {
	display: block!important;
}

ui-fileupload-upload ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left{
	
}

.ui-inputtext {
	
}

.ui-widget {
	
}

.ui-state-default {
	
}

.ui-corner-all {
	
}

.ui-state-filled {
	
}